variables:
  executeSonar: true
  buildPlatform: 'any cpu'

trigger:
  branches:
    include:
    - master

resources:
  repositories:
    - repository: BuildTemplates
      type: git
      name: BuildTemplates

jobs:
- template: common.yml@BuildTemplates
  parameters:
    vmImage: 'vs2017-win2016'
    solution: '**\*.sln'
    minNumberOfTests: 1
    versioningStyle: GitVersion
    buildPlatform: $(buildPlatform)
    sonar:
      execute: $(executeSonar)
      projectKey: 'sast_test'
      projectName: 'sast_test'
    nuget:
      generatePackages: true
      pushPackages: true
      configPath: 'nuget.config'
    publishPath: '$(Build.ArtifactStagingDirectory)'    